/* Button */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-radius: 8px;
  transition-property: color, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease-in-out;
  @include font-body-s-medium;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &__icon {
    display: flex;

    &--left {
      order: 0;
    }

    &--right {
      order: 1;
    }
  }

  &__label {
    display: flex;
  }

  /* Appearance */

  &--primary {
    background-color: $color-primary-600;
    color: $color-base-white;

    &:hover {
      background-color: $color-primary-700;
    }
  }

  &--ghost {
    background-color: $color-base-white;
    color: $color-content-900;
    border: 1px solid $color-content-300;

    &:hover {
      color: $color-primary-600;
    }
  }

  &--destructive {
    padding: 8px !important;
    background-color: $color-destructive-600;
    color: $color-base-white;

    &:hover {
      background-color: $color-destructive-700;
    }
  }

  &--large {
    padding: 10px 18px;
    @include font-body-m-medium;
  }

  &--medium {
    padding: 10px 16px;
  }

  &--small {
    padding: 8px 14px;
  }
}
