/* Tag */

.tag {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  color: $color-primary-600;
  cursor: pointer;

  &__label {
    @include font-body-s-medium;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &--small {
    padding: 4px 8px;
    background: $color-primary-50;
    border-radius: 4px;

    .tag__icon {
      width: 12px;
      height: 12px;
    }

    &:hover {
      background: $color-primary-200;
    }
  }

  &--medium {
    padding: 10px 16px;
    background: $color-primary-100;
    border-radius: 8px;

    &:hover {
      background: $color-primary-200;
    }
  }
}
