/* Container */

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1025px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (max-width: 320px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Divider */

.divider {
  width: 100%;
  display: none;
  height: 1px;

  &--full {
    background: $color-content-200;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &--content {
    display: block;
    background: $color-content-200;
  }
}

/* Page */

.page {
  color: $color-content-500;
  background: $color-content-50;
  @include font-body-m-regular;

  &__breadcrumbs {
    @media screen and (min-width: 1280px) {
      margin-top: 40px;
    }

    @media screen and (max-width: 1279px) {
      margin-top: 32px;
    }

    @media screen and (max-width: 479px) {
      margin-top: 20px;
    }
  }

  &__title {
    color: $color-content-900;

    @media screen and (min-width: 1280px) {
      margin-top: 32px;
      @include font-display-xl;
    }

    @media screen and (max-width: 1279px) {
      margin-top: 20px;
      @include font-display-xl;
    }

    @media screen and (max-width: 767px) {
      margin-top: 16px;
      @include font-display-s;
    }
  }
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  align-items: center;
  column-gap: 8px;

  &__icon {
    display: flex;
    color: $color-content-300;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__link {
    color: $color-content-500;
    @include font-body-s-medium;

    &--inactive {
      color: $color-content-300;
    }
  }
}

/* Other */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
