/* Base */

@import './fonts';
@import './colors';
@import './mixins';

/* Components */

@import './components/all';

/* Container */

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1025px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (max-width: 320px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Divider */

.divider {
  display: none;
  height: 1px;

  &--full {
    width: 100vw;
    background: $color-content-200;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &--content {
    display: block;
    width: 100%;
    background: $color-content-300;
  }
}

/* Other */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-content-500;
  @include font-body-m-regular;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
